---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 

<div class="swiper rounded mb-5 h-auto">
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide hero" style="background-image: url('/northpoint/assets/images/slide1.png');">
      <div class="col-md-6">
        <h1 class="font-weight-bold mb-4 serif-font text-white">Meet the wonders of North Point</h1>
        <p class="lead mb-4 text-white">A brand new website that's set to revolutionize the way you interact with North Point's services.</p>
        <a href="{{site.baseurl}}/town" class="btn btn-dark text-white px-5 btn-lg">Our town</a>
      </div>
    </div>
    <div class="swiper-slide align-items-center hero" style="background-image: url('/northpoint/assets/images/slide2.png');">
      <div class="col-md-6">
        <h1 class="font-weight-bold mb-4 serif-font text-white">New bus terminal</h1>
        <p class="lead mb-4 text-white">The newest bus terminal in our municipality has just opened. Located by the sea, not only offers great accessiblity to passengers but also a great view. North Point is now more accessible.</p>
        <a href="{{site.baseurl}}/new-bus-terminal" class="btn btn-dark text-white px-5 btn-lg">Learn more</a>
      </div>
    </div>
    <div class="swiper-slide align-items-center hero" style="background-image: url('/northpoint/assets/images/slide3.png');">
      <div class="col-md-6">
        <h1 class="font-weight-bold mb-4 serif-font text-white">Our commitment</h1>
        <p class="lead mb-4 text-white">In an era of growing environmental awareness, we hope to emerge as an example of commitment to environmental conservation and sustainability.</p>
        <a href="{{site.baseurl}}/sustainability" class="btn btn-dark text-white px-5 btn-lg">Sustainability</a>
      </div>
    </div>
  </div>

  <div class="swiper-pagination mb-2"></div>

  <div class="swiper-button-prev ml-2"></div>
  <div class="swiper-button-next mr-2"></div>

</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>